<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ShowEOLMarkers>false</ShowEOLMarkers>
  <ShowSpaces>false</ShowSpaces>
  <ShowTabs>false</ShowTabs>
  <ShowLineNumbers>true</ShowLineNumbers>
  <ShowMatchingBracket>true</ShowMatchingBracket>
  <fontFamily>Courier New</fontFamily>
  <fontGraphicsUnit>Point</fontGraphicsUnit>
  <fontSize>9.75</fontSize>
  <fontStyle>Regular</fontStyle>
  <RunWithIOStatistics>false</RunWithIOStatistics>
  <DifferencialPercentage>101</DifferencialPercentage>
  <ShowFrmDocumentHeader>false</ShowFrmDocumentHeader>
  <ShowStartPage>true</ShowStartPage>
</Settings>