<?xml version="1.0" encoding="utf-8" ?>
<ArrayOfDataSource xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<DataSource>
		<ID>c5648b47-34ef-4f80-b393-2e20823fbd4d</ID>
		<IntegratedSecurity>SSPI</IntegratedSecurity>
		<Name>Localhost</Name>
		<FriendlyName>You need to change credentials</FriendlyName>
		<PersistSecurityInfo>TRUE</PersistSecurityInfo>
		<InitialCatalog>master</InitialCatalog>
		<UserName />
		<Password />
		<TimeOut>15</TimeOut>
		<IsConnected>true</IsConnected>
		<ConnectionType>MicrosoftSqlClient</ConnectionType>
	</DataSource>
</ArrayOfDataSource>