<?xml version="1.0" encoding="utf-8"?>
<ArrayOfDataSource xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DataSource>
    <ID>7468561c-6df7-4574-bca8-cbb311812417</ID>
    <Provider>SQLOLEDB.1</Provider>
    <IntegratedSecurity />
    <Name>Localhost</Name>
    <FriendlyName>You need to change credentials</FriendlyName>
    <PersistSecurityInfo>TRUE</PersistSecurityInfo>
    <InitialCatalog>wmpcm_1</InitialCatalog>
    <UserName>sa</UserName>
    <Password>sa</Password>
    <TimeOut>100</TimeOut>
    <IsConnected>true</IsConnected>
    <ConnectionType>MicrosoftSqlClient</ConnectionType>
    <vssConnectionCollection />
  </DataSource>
</ArrayOfDataSource>