<?xml version="1.0" encoding="utf-8"?>
<ArrayOfVSSConnection xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <VSSConnection>
    <IVSS>
      <AddItemCount>0</AddItemCount>
      <BranchItemCount>0</BranchItemCount>
      <CheckInItemCount>0</CheckInItemCount>
      <CheckOutCommentCount>0</CheckOutCommentCount>
      <CheckOutDateCount>0</CheckOutDateCount>
      <CheckOutItemCount>0</CheckOutItemCount>
      <CheckOutLocalSpecCount>0</CheckOutLocalSpecCount>
      <CheckOutMachineCount>0</CheckOutMachineCount>
      <CheckOutUserNameCount>0</CheckOutUserNameCount>
      <CheckOutVersionNumberCount>0</CheckOutVersionNumberCount>
      <CreateProjectCount>0</CreateProjectCount>
      <DatabaseAddUserCount>0</DatabaseAddUserCount>
      <DatabaseDeleteUserCount>0</DatabaseDeleteUserCount>
      <DatabaseEnableRightsCount>0</DatabaseEnableRightsCount>
      <DatabaseGetCurrentProjectCount>0</DatabaseGetCurrentProjectCount>
      <DatabaseGetDBNameCount>0</DatabaseGetDBNameCount>
      <DatabaseGetDefaultRightsCount>0</DatabaseGetDefaultRightsCount>
      <DatabaseGetItemCount>24</DatabaseGetItemCount>
      <DatabaseGetItemCountsCount>0</DatabaseGetItemCountsCount>
      <DatabaseGetSrcSafeINICount>0</DatabaseGetSrcSafeINICount>
      <DatabaseGetUserCount>0</DatabaseGetUserCount>
      <DatabaseGetVersionCount>0</DatabaseGetVersionCount>
      <DatabaseSetCurrentProjectCount>2</DatabaseSetCurrentProjectCount>
      <DatabaseSetDefaultRightsCount>0</DatabaseSetDefaultRightsCount>
      <DatabaseUserNameCount>0</DatabaseUserNameCount>
      <DatabaseUsersCount>0</DatabaseUsersCount>
      <DatabaseGetUserNamesCount>0</DatabaseGetUserNamesCount>
      <DestroyItemCount>0</DestroyItemCount>
      <DiffItemsCount>0</DiffItemsCount>
      <GetItemCount>0</GetItemCount>
      <GetItemBinaryCount>0</GetItemBinaryCount>
      <GetItemCheckOutsCount>0</GetItemCheckOutsCount>
      <GetItemChildCount>0</GetItemChildCount>
      <GetItemDeletedCount>0</GetItemDeletedCount>
      <GetItemIsCheckedOutCount>24</GetItemIsCheckedOutCount>
      <GetItemLinksCount>0</GetItemLinksCount>
      <GetItemNameCount>0</GetItemNameCount>
      <GetItemParentCount>0</GetItemParentCount>
      <GetItemTypeCount>0</GetItemTypeCount>
      <GetItemVersionCount>0</GetItemVersionCount>
      <GetItemVersionCountsCount>0</GetItemVersionCountsCount>
      <MoveItemCount>0</MoveItemCount>
      <SetItemCheckOutFolderCount>0</SetItemCheckOutFolderCount>
      <SetItemDeletedCount>0</SetItemDeletedCount>
      <SetItemLabelCount>0</SetItemLabelCount>
      <SetItemNameCount>0</SetItemNameCount>
      <SetItemTypeCount>0</SetItemTypeCount>
      <OpenMethodCount>1</OpenMethodCount>
      <ShareItemCount>0</ShareItemCount>
      <UnCheckOutItemCount>0</UnCheckOutItemCount>
      <UserChangePasswordCount>0</UserChangePasswordCount>
      <UserGetReadOnlyCount>0</UserGetReadOnlyCount>
      <UserGetRightsCount>0</UserGetRightsCount>
      <UserGetNameCount>0</UserGetNameCount>
      <UserRemoveRightsCount>0</UserRemoveRightsCount>
      <UserSetNameCount>0</UserSetNameCount>
      <UserSetReadOnlyCount>0</UserSetReadOnlyCount>
      <UserSetRightsCount>0</UserSetRightsCount>
      <VersionActionCount>0</VersionActionCount>
      <VersionCommentCount>0</VersionCommentCount>
      <VersionDateCount>0</VersionDateCount>
      <VersionLabelCount>0</VersionLabelCount>
      <VersionLabelCountCommentCount>0</VersionLabelCountCommentCount>
      <VersionSpecCount>0</VersionSpecCount>
      <VersionUserNameCount>0</VersionUserNameCount>
      <VersionVersionCount>0</VersionVersionCount>
    </IVSS>
    <VSSDatabasePath>C:\Program Files\Microsoft Visual Studio\VSS\srcsafe.ini</VSSDatabasePath>
    <UserName>wmmihaa</UserName>
    <Password />
    <RememberPassword>true</RememberPassword>
    <Server>Localhost</Server>
    <Database>wmpcm_1</Database>
  </VSSConnection>
  <VSSConnection>
    <IVSS>
      <AddItemCount>0</AddItemCount>
      <BranchItemCount>0</BranchItemCount>
      <CheckInItemCount>0</CheckInItemCount>
      <CheckOutCommentCount>0</CheckOutCommentCount>
      <CheckOutDateCount>0</CheckOutDateCount>
      <CheckOutItemCount>0</CheckOutItemCount>
      <CheckOutLocalSpecCount>0</CheckOutLocalSpecCount>
      <CheckOutMachineCount>0</CheckOutMachineCount>
      <CheckOutUserNameCount>0</CheckOutUserNameCount>
      <CheckOutVersionNumberCount>0</CheckOutVersionNumberCount>
      <CreateProjectCount>0</CreateProjectCount>
      <DatabaseAddUserCount>0</DatabaseAddUserCount>
      <DatabaseDeleteUserCount>0</DatabaseDeleteUserCount>
      <DatabaseEnableRightsCount>0</DatabaseEnableRightsCount>
      <DatabaseGetCurrentProjectCount>0</DatabaseGetCurrentProjectCount>
      <DatabaseGetDBNameCount>0</DatabaseGetDBNameCount>
      <DatabaseGetDefaultRightsCount>0</DatabaseGetDefaultRightsCount>
      <DatabaseGetItemCount>0</DatabaseGetItemCount>
      <DatabaseGetItemCountsCount>0</DatabaseGetItemCountsCount>
      <DatabaseGetSrcSafeINICount>0</DatabaseGetSrcSafeINICount>
      <DatabaseGetUserCount>0</DatabaseGetUserCount>
      <DatabaseGetVersionCount>0</DatabaseGetVersionCount>
      <DatabaseSetCurrentProjectCount>5</DatabaseSetCurrentProjectCount>
      <DatabaseSetDefaultRightsCount>0</DatabaseSetDefaultRightsCount>
      <DatabaseUserNameCount>0</DatabaseUserNameCount>
      <DatabaseUsersCount>0</DatabaseUsersCount>
      <DatabaseGetUserNamesCount>0</DatabaseGetUserNamesCount>
      <DestroyItemCount>0</DestroyItemCount>
      <DiffItemsCount>0</DiffItemsCount>
      <GetItemCount>0</GetItemCount>
      <GetItemBinaryCount>0</GetItemBinaryCount>
      <GetItemCheckOutsCount>0</GetItemCheckOutsCount>
      <GetItemChildCount>0</GetItemChildCount>
      <GetItemDeletedCount>0</GetItemDeletedCount>
      <GetItemIsCheckedOutCount>0</GetItemIsCheckedOutCount>
      <GetItemLinksCount>0</GetItemLinksCount>
      <GetItemNameCount>0</GetItemNameCount>
      <GetItemParentCount>0</GetItemParentCount>
      <GetItemTypeCount>0</GetItemTypeCount>
      <GetItemVersionCount>0</GetItemVersionCount>
      <GetItemVersionCountsCount>0</GetItemVersionCountsCount>
      <MoveItemCount>0</MoveItemCount>
      <SetItemCheckOutFolderCount>0</SetItemCheckOutFolderCount>
      <SetItemDeletedCount>0</SetItemDeletedCount>
      <SetItemLabelCount>0</SetItemLabelCount>
      <SetItemNameCount>0</SetItemNameCount>
      <SetItemTypeCount>0</SetItemTypeCount>
      <OpenMethodCount>1</OpenMethodCount>
      <ShareItemCount>0</ShareItemCount>
      <UnCheckOutItemCount>0</UnCheckOutItemCount>
      <UserChangePasswordCount>0</UserChangePasswordCount>
      <UserGetReadOnlyCount>0</UserGetReadOnlyCount>
      <UserGetRightsCount>0</UserGetRightsCount>
      <UserGetNameCount>0</UserGetNameCount>
      <UserRemoveRightsCount>0</UserRemoveRightsCount>
      <UserSetNameCount>0</UserSetNameCount>
      <UserSetReadOnlyCount>0</UserSetReadOnlyCount>
      <UserSetRightsCount>0</UserSetRightsCount>
      <VersionActionCount>0</VersionActionCount>
      <VersionCommentCount>0</VersionCommentCount>
      <VersionDateCount>0</VersionDateCount>
      <VersionLabelCount>0</VersionLabelCount>
      <VersionLabelCountCommentCount>0</VersionLabelCountCommentCount>
      <VersionSpecCount>0</VersionSpecCount>
      <VersionUserNameCount>0</VersionUserNameCount>
      <VersionVersionCount>0</VersionVersionCount>
    </IVSS>
    <VSSDatabasePath>C:\Program Files\Microsoft Visual Studio\VSS\srcsafe.ini</VSSDatabasePath>
    <UserName>test</UserName>
    <Password />
    <RememberPassword>true</RememberPassword>
    <Server>Localhost</Server>
    <Database>wmpcm_1</Database>
  </VSSConnection>
  <VSSConnection>
    <IVSS>
      <AddItemCount>0</AddItemCount>
      <BranchItemCount>0</BranchItemCount>
      <CheckInItemCount>0</CheckInItemCount>
      <CheckOutCommentCount>0</CheckOutCommentCount>
      <CheckOutDateCount>0</CheckOutDateCount>
      <CheckOutItemCount>0</CheckOutItemCount>
      <CheckOutLocalSpecCount>0</CheckOutLocalSpecCount>
      <CheckOutMachineCount>0</CheckOutMachineCount>
      <CheckOutUserNameCount>0</CheckOutUserNameCount>
      <CheckOutVersionNumberCount>0</CheckOutVersionNumberCount>
      <CreateProjectCount>0</CreateProjectCount>
      <DatabaseAddUserCount>0</DatabaseAddUserCount>
      <DatabaseDeleteUserCount>0</DatabaseDeleteUserCount>
      <DatabaseEnableRightsCount>0</DatabaseEnableRightsCount>
      <DatabaseGetCurrentProjectCount>0</DatabaseGetCurrentProjectCount>
      <DatabaseGetDBNameCount>0</DatabaseGetDBNameCount>
      <DatabaseGetDefaultRightsCount>0</DatabaseGetDefaultRightsCount>
      <DatabaseGetItemCount>0</DatabaseGetItemCount>
      <DatabaseGetItemCountsCount>0</DatabaseGetItemCountsCount>
      <DatabaseGetSrcSafeINICount>0</DatabaseGetSrcSafeINICount>
      <DatabaseGetUserCount>0</DatabaseGetUserCount>
      <DatabaseGetVersionCount>0</DatabaseGetVersionCount>
      <DatabaseSetCurrentProjectCount>5</DatabaseSetCurrentProjectCount>
      <DatabaseSetDefaultRightsCount>0</DatabaseSetDefaultRightsCount>
      <DatabaseUserNameCount>0</DatabaseUserNameCount>
      <DatabaseUsersCount>0</DatabaseUsersCount>
      <DatabaseGetUserNamesCount>0</DatabaseGetUserNamesCount>
      <DestroyItemCount>0</DestroyItemCount>
      <DiffItemsCount>0</DiffItemsCount>
      <GetItemCount>0</GetItemCount>
      <GetItemBinaryCount>0</GetItemBinaryCount>
      <GetItemCheckOutsCount>0</GetItemCheckOutsCount>
      <GetItemChildCount>0</GetItemChildCount>
      <GetItemDeletedCount>0</GetItemDeletedCount>
      <GetItemIsCheckedOutCount>0</GetItemIsCheckedOutCount>
      <GetItemLinksCount>0</GetItemLinksCount>
      <GetItemNameCount>0</GetItemNameCount>
      <GetItemParentCount>0</GetItemParentCount>
      <GetItemTypeCount>0</GetItemTypeCount>
      <GetItemVersionCount>0</GetItemVersionCount>
      <GetItemVersionCountsCount>0</GetItemVersionCountsCount>
      <MoveItemCount>0</MoveItemCount>
      <SetItemCheckOutFolderCount>0</SetItemCheckOutFolderCount>
      <SetItemDeletedCount>0</SetItemDeletedCount>
      <SetItemLabelCount>0</SetItemLabelCount>
      <SetItemNameCount>0</SetItemNameCount>
      <SetItemTypeCount>0</SetItemTypeCount>
      <OpenMethodCount>1</OpenMethodCount>
      <ShareItemCount>0</ShareItemCount>
      <UnCheckOutItemCount>0</UnCheckOutItemCount>
      <UserChangePasswordCount>0</UserChangePasswordCount>
      <UserGetReadOnlyCount>0</UserGetReadOnlyCount>
      <UserGetRightsCount>0</UserGetRightsCount>
      <UserGetNameCount>0</UserGetNameCount>
      <UserRemoveRightsCount>0</UserRemoveRightsCount>
      <UserSetNameCount>0</UserSetNameCount>
      <UserSetReadOnlyCount>0</UserSetReadOnlyCount>
      <UserSetRightsCount>0</UserSetRightsCount>
      <VersionActionCount>0</VersionActionCount>
      <VersionCommentCount>0</VersionCommentCount>
      <VersionDateCount>0</VersionDateCount>
      <VersionLabelCount>0</VersionLabelCount>
      <VersionLabelCountCommentCount>0</VersionLabelCountCommentCount>
      <VersionSpecCount>0</VersionSpecCount>
      <VersionUserNameCount>0</VersionUserNameCount>
      <VersionVersionCount>0</VersionVersionCount>
    </IVSS>
    <VSSDatabasePath>C:\Program Files\Microsoft Visual Studio\VSS\srcsafe.ini</VSSDatabasePath>
    <UserName>test</UserName>
    <Password />
    <RememberPassword>true</RememberPassword>
    <Server>Localhost</Server>
    <Database>wmpcm_1</Database>
  </VSSConnection>
</ArrayOfVSSConnection>