<?xml version="1.0" encoding="utf-8"?>
<ArrayOfWorkSpace xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <WorkSpace>
    <Name>New Workspace</Name>
    <WorkSpaceItems>
      <WorkSpaceItem>
        <FileName>fn_GetRoleBitValues.sql</FileName>
        <FilePath>C:\PROJECT\QueryCommander\bin\Debug\Scriptfiles\fn_GetRoleBitValues.sql</FilePath>
      </WorkSpaceItem>
      <WorkSpaceItem>
        <FileName>fn_GetTotalRevenueForTaskPrediction.sql</FileName>
        <FilePath>C:\PROJECT\QueryCommander\bin\Debug\Scriptfiles\fn_GetTotalRevenueForTaskPrediction.sql</FilePath>
      </WorkSpaceItem>
      <WorkSpaceItem>
        <FileName>fn_GetTotalHoursForTask.sql</FileName>
        <FilePath>C:\PROJECT\QueryCommander\bin\Debug\Scriptfiles\fn_GetTotalHoursForTask.sql</FilePath>
      </WorkSpaceItem>
      <WorkSpaceItem>
        <FileName>fn_GetRoleBitValues1.sql</FileName>
        <FilePath>C:\PROJECT\QueryCommander\bin\Debug\Scriptfiles\fn_GetRoleBitValues1.sql</FilePath>
      </WorkSpaceItem>
      <WorkSpaceItem>
        <FileName>sp_GetForumByTitle.sql</FileName>
        <FilePath>C:\PROJECT\QueryCommander\bin\Debug\Scriptfiles\sp_GetForumByTitle.sql</FilePath>
      </WorkSpaceItem>
    </WorkSpaceItems>
  </WorkSpace>
</ArrayOfWorkSpace>